# Agregacion de datos por categoria

In [2]:
import numpy as np
import pandas as pd

In [12]:
gender = ["Male","Female"]
income = ["Poor", "Middle Class","Rich"]

In [13]:
n = 500

gender_data = []
income_data = []

In [14]:
for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [15]:
gender_data[:10]

['Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male']

In [16]:
income_data[:10]

['Middle Class',
 'Rich',
 'Middle Class',
 'Rich',
 'Rich',
 'Poor',
 'Rich',
 'Rich',
 'Middle Class',
 'Poor']

In [17]:
# z -> N(0,1) -> Desviacion normal entre 0 y 1
#N(m,s) -> m +s * z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.rand(n)
age = 30 + 12 * np.random.randn(n) 
income = 18000 + 35000 * np.random.rand(n)

In [19]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight" : weight,
        "Age" : age,
        "Income" : income
    })

In [20]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0    Male    Middle Class  134.342173  75.566382  26.382107  32974.133836
1    Male            Rich  121.320671  81.509610  41.040242  43393.533055
2    Male    Middle Class  102.261689  71.768330  32.651446  35357.020927
3  Female            Rich  160.435885  84.975256  19.080428  37208.101061
4    Male            Rich  151.696620  87.342144  28.065358  42969.868274

## Convertir FLOAT a INTEGER

In [25]:
data['Age'] = data['Age'].astype(int)

In [24]:
data.head()

   Gender Economic Status      Height     Weight  Age        Income
0    Male    Middle Class  134.342173  75.566382   26  32974.133836
1    Male            Rich  121.320671  81.509610   41  43393.533055
2    Male    Middle Class  102.261689  71.768330   32  35357.020927
3  Female            Rich  160.435885  84.975256   19  37208.101061
4    Male            Rich  151.696620  87.342144   28  42969.868274

## Agrupacion de datos

### Agrupacion Sencilla

In [26]:
grouped_gender = data.groupby("Gender")

In [27]:
grouped_gender.groups

{'Female': Int64Index([  3,   6,   7,  10,  12,  14,  16,  17,  19,  20,
             ...
             479, 480, 482, 483, 486, 487, 489, 491, 495, 496],
            dtype='int64', length=255),
 'Male': Int64Index([  0,   1,   2,   4,   5,   8,   9,  11,  13,  15,
             ...
             484, 485, 488, 490, 492, 493, 494, 497, 498, 499],
            dtype='int64', length=245)}

In [29]:
for names, groups in grouped_gender:
    print (names)
    print (groups)

Female
     Gender Economic Status      Height     Weight  Age        Income
3    Female            Rich  160.435885  84.975256   19  37208.101061
6    Female            Rich  130.620616  85.422355   28  26098.247893
7    Female            Rich  130.510281  85.476015   36  39760.765392
10   Female    Middle Class   87.292510  67.148053   34  26795.979188
12   Female    Middle Class   83.424082  84.108576   24  23687.153760
14   Female            Rich  171.398871  80.654855   20  30427.766490
16   Female    Middle Class  172.856363  70.603822    8  51157.087215
17   Female            Rich  161.117339  65.662135   30  27551.155310
19   Female            Rich  110.551629  70.792352   48  46881.245707
20   Female            Poor  106.052766  69.363904   31  29919.524685
21   Female            Rich  147.056955  72.720474   41  36012.997368
25   Female            Poor  195.832664  65.624269   46  43785.201138
29   Female    Middle Class  142.982683  81.753953   28  48966.382985
30   Female            Rich  169.814417  66.832693   24  51885.131508
34   Female            Rich  164.539965  76.682506   37  35709.180312
35   Female            Poor  192.162038  79.501940   35  20008.913247
36   Female            Poor  198.411011  78.806531   41  41066.007627
37   Female    Middle Class  186.025848  72.583603   42  21072.355291
38   Female            Rich  127.930736  79.953300   15  37067.553484
39   Female    Middle Class   96.521373  75.793143   30  52755.649771
40   Female    Middle Class  185.360029  83.930212   27  46934.610716
42   Female            Rich  184.473368  66.830632   43  48898.220039
44   Female            Poor  100.694027  65.043951   61  27080.956366
48   Female            Poor  105.443717  77.528741   30  40793.871501
50   Female            Rich  184.957060  76.947258   33  19899.284876
52   Female            Rich  209.706760  82.613295   26  42703.719126
53   Female            Poor  214.113610  89.229953   38  42044.771404
56   Female            Rich  146.553456  74.502506   14  28170.217130
61   Female            Rich  114.849277  66.449512   31  36796.143009
65   Female    Middle Class  119.343892  66.353677   11  47233.208727
..      ...             ...         ...        ...  ...           ...
441  Female    Middle Class  162.829827  72.155642   24  28328.656360
442  Female    Middle Class  144.789603  79.772326   19  34075.239918
448  Female            Rich  186.596843  86.098299   16  47734.058268
451  Female            Poor  145.127704  89.409821   18  36110.826532
453  Female            Poor  155.351274  89.897098   47  33077.730203
454  Female            Rich   75.413523  73.144648   21  32730.712658
455  Female            Rich  190.661358  86.999585   26  51237.768879
456  Female            Rich  153.608310  82.880842   46  28167.192369
457  Female            Rich  132.134102  70.768978   46  28884.291616
460  Female            Poor  120.288446  71.733095   32  21387.614514
461  Female            Rich  179.676359  71.818367   44  30030.015798
462  Female            Poor  132.230317  82.394298   50  45988.224838
464  Female    Middle Class  124.573709  75.363835   43  39059.724666
466  Female            Rich  153.435792  70.491937   19  42469.441525
467  Female            Poor  187.963428  89.677952   51  30056.532658
468  Female            Rich  145.227898  84.653760   40  52051.453430
471  Female            Poor   85.973729  80.471825   37  23628.293325
472  Female            Rich  167.222235  86.998254   38  47334.694465
473  Female            Rich  142.792375  89.527181   16  49246.475418
476  Female            Poor  150.735323  84.335490   42  25092.114015
479  Female            Poor  166.755151  68.048202   41  47469.537348
480  Female    Middle Class  160.661963  71.847865   20  32484.856132
482  Female            Rich  157.882922  69.625748   19  22492.628703
483  Female            Rich  152.693257  87.565234   16  50535.782262
486  Female            Poor  152.176175  84.933717   40  32983.175629
487  Female            Rich  171.598797  84.651717   26  32449.308895
489  Female    Middle Class  125.651185  65.395740   37  45868.684337
491  Female    Middle Class  151.120373  71.422033   46  21522.452888
495  Female            Rich  117.607990  83.442932   37  48760.769186
496  Female            Rich  171.660651  71.748460   26  32444.608097

[255 rows x 6 columns]
Male
    Gender Economic Status      Height     Weight  Age        Income
0     Male    Middle Class  134.342173  75.566382   26  32974.133836
1     Male            Rich  121.320671  81.509610   41  43393.533055
2     Male    Middle Class  102.261689  71.768330   32  35357.020927
4     Male            Rich  151.696620  87.342144   28  42969.868274
5     Male            Poor  193.095974  66.893052   17  46286.303844
8     Male    Middle Class  152.242178  84.587867   43  37155.635949
9     Male            Poor  164.337035  65.779211   16  26113.903822
11    Male    Middle Class  194.644059  82.659524   44  44987.431531
13    Male            Poor  182.653768  66.012479   52  19936.720508
15    Male    Middle Class  162.471867  65.527151   38  31434.617250
18    Male            Rich  177.166976  76.128466   23  22247.996784
22    Male            Rich  155.749330  66.057172   31  41914.831689
23    Male            Rich  161.971044  81.004884   22  35739.793483
24    Male            Rich  143.265674  68.090214   40  20645.356260
26    Male            Poor  185.454240  70.201681   33  26294.306876
27    Male    Middle Class  126.345441  87.577109   24  52299.675329
28    Male            Rich  174.497227  77.255233   49  20082.982284
31    Male            Rich  185.233121  65.036670   36  36830.840198
32    Male            Poor  190.977029  75.092992   36  48597.731305
33    Male    Middle Class  237.891828  77.321143   25  28125.557097
41    Male            Poor  151.468005  76.462030   50  49670.864815
43    Male            Rich  169.708393  81.454914   23  42496.496284
45    Male    Middle Class  133.504050  66.289575   32  30403.616263
46    Male            Poor  153.140007  81.936616   32  20452.559307
47    Male    Middle Class   84.968969  80.816794   37  39807.936605
49    Male    Middle Class  152.162406  89.736355    0  52651.696723
51    Male            Rich  210.856763  87.420342   22  43987.965977
54    Male            Rich  150.872627  75.843446   43  52938.986988
55    Male            Rich  179.536325  70.230109   33  33719.846412
57    Male            Poor  183.026636  79.812906   16  26163.360694
..     ...             ...         ...        ...  ...           ...
439   Male            Rich  145.644677  85.187507   19  28330.270084
443   Male            Poor  133.955407  74.157358   22  40603.057220
444   Male            Poor  103.642309  87.886589   39  30043.293918
445   Male            Rich  168.320819  77.307479   35  52363.463138
446   Male            Poor  198.315014  87.455892   42  21389.563573
447   Male    Middle Class  196.465203  85.040533   40  39966.154756
449   Male    Middle Class  136.237525  67.266201   20  41181.718742
450   Male    Middle Class  169.050230  79.455649   14  46787.616833
452   Male            Rich  163.112043  85.082689   20  24335.150372
458   Male    Middle Class  161.462139  72.962611   46  39555.446431
459   Male            Poor  175.939837  80.113319   21  23549.392054
463   Male    Middle Class  107.240498  68.116516   29  24505.658620
465   Male            Rich  190.266750  83.388697   23  46343.514182
469   Male            Rich  170.591908  86.876107   36  34067.104527
470   Male            Rich  150.593458  76.336840   26  40108.460703
474   Male            Poor  154.300385  76.687691   29  48995.465513
475   Male            Poor  146.195832  65.611015   39  48968.321682
477   Male            Poor  181.645621  84.631708   33  47510.470184
478   Male    Middle Class  102.698333  85.635120    4  30272.927529
481   Male    Middle Class  125.325908  86.213071   22  48255.124871
484   Male            Rich  170.797290  75.788557   24  18832.907546
485   Male            Rich   89.313484  86.551818   60  39932.463791
488   Male            Rich  181.946699  78.815225   30  45763.183658
490   Male            Poor  160.961832  75.076869   59  32409.491091
492   Male            Rich  185.562639  77.405146   19  34472.181220
493   Male            Poor  181.005633  75.661693   25  36119.335552
494   Male            Rich  203.607624  88.463341   34  44433.674039
497   Male            Poor  135.386260  66.762670   24  41451.319573
498   Male            Poor  152.057352  81.987085   26  32765.253976
499   Male            Poor  163.198735  89.107464   33  48151.248981

[245 rows x 6 columns]

In [31]:
tmp = grouped_gender.get_group("Female")

In [32]:
tmp.shape

(255, 6)

In [33]:
tmp = grouped_gender.get_group("Male")

In [34]:
tmp.shape

(245, 6)

### Agrupacion Doble

In [35]:
double_group = data.groupby(['Gender','Economic Status'])

In [36]:
len(double_group) ## Multiplica los valores de cada grupo  ( 2 * 3)

6

In [38]:
for names, groups in double_group:
    print (names)
    print (groups)

('Female', 'Middle Class')
     Gender Economic Status      Height     Weight  Age        Income
10   Female    Middle Class   87.292510  67.148053   34  26795.979188
12   Female    Middle Class   83.424082  84.108576   24  23687.153760
16   Female    Middle Class  172.856363  70.603822    8  51157.087215
29   Female    Middle Class  142.982683  81.753953   28  48966.382985
37   Female    Middle Class  186.025848  72.583603   42  21072.355291
39   Female    Middle Class   96.521373  75.793143   30  52755.649771
40   Female    Middle Class  185.360029  83.930212   27  46934.610716
65   Female    Middle Class  119.343892  66.353677   11  47233.208727
67   Female    Middle Class  167.236208  76.773217   35  39701.300739
72   Female    Middle Class  142.671549  66.233627   38  32609.096630
79   Female    Middle Class  160.112606  86.635241   40  37908.335122
93   Female    Middle Class  141.646309  69.255810   40  41578.319263
112  Female    Middle Class  183.968480  65.451125   35  46495.031754
121  Female    Middle Class  119.327405  71.821694   30  21238.967273
123  Female    Middle Class  194.717251  77.329748   10  24744.536731
125  Female    Middle Class  207.479569  89.637138   19  18641.890706
127  Female    Middle Class  165.350039  82.219660   23  19012.005445
129  Female    Middle Class  115.161685  70.104739   62  37738.330044
140  Female    Middle Class   92.363806  89.175368   42  38438.488715
143  Female    Middle Class  192.452724  70.758815    7  26358.053040
147  Female    Middle Class  118.107251  79.317295   31  18860.409529
153  Female    Middle Class  143.725356  86.455534   32  27079.575825
158  Female    Middle Class  188.847234  89.991191   32  33279.000963
160  Female    Middle Class  189.834001  70.628855   21  50899.250667
161  Female    Middle Class  142.064803  77.317562   41  47203.001749
162  Female    Middle Class  163.653450  65.182457   28  42464.086285
172  Female    Middle Class  155.662688  65.174222   41  32618.984002
173  Female    Middle Class  122.429609  73.635922   34  20059.405948
174  Female    Middle Class  160.868385  88.305661   35  32959.296509
227  Female    Middle Class  139.792767  70.997430   49  35242.736023
..      ...             ...         ...        ...  ...           ...
305  Female    Middle Class  156.457669  76.609939   35  23388.084465
306  Female    Middle Class  157.531168  67.356682   44  48533.215087
310  Female    Middle Class  194.515180  80.012828   31  36854.593203
315  Female    Middle Class  182.513400  67.686140   21  21190.722609
318  Female    Middle Class  142.787515  72.727558   33  33892.810803
324  Female    Middle Class  168.967874  77.101845   42  34327.426775
333  Female    Middle Class  183.358786  85.710330   15  21573.781418
334  Female    Middle Class  106.849095  89.415837   27  39509.336499
347  Female    Middle Class  184.857113  67.057118   38  39490.730109
357  Female    Middle Class  173.390059  80.932941   18  52069.171163
367  Female    Middle Class  124.073159  82.575749   49  38614.740871
369  Female    Middle Class  139.064120  68.552806   15  40637.022140
371  Female    Middle Class  159.496810  86.888616   25  20353.071157
377  Female    Middle Class  144.424591  85.192817   45  39024.612933
386  Female    Middle Class  131.700217  73.623827   17  49418.141184
393  Female    Middle Class  138.953439  69.840374   22  19725.862705
403  Female    Middle Class  174.391533  80.393865   24  37516.753449
414  Female    Middle Class  186.774879  68.426595   33  36131.345599
419  Female    Middle Class  177.788213  78.814655   10  21158.812500
424  Female    Middle Class  146.575846  86.698674   26  40787.386814
429  Female    Middle Class  165.650388  67.257358   24  45098.877666
430  Female    Middle Class  151.846694  80.856478   40  24093.136650
434  Female    Middle Class  173.818108  78.775406   40  39894.120128
437  Female    Middle Class  138.863587  74.403198   42  22297.013129
441  Female    Middle Class  162.829827  72.155642   24  28328.656360
442  Female    Middle Class  144.789603  79.772326   19  34075.239918
464  Female    Middle Class  124.573709  75.363835   43  39059.724666
480  Female    Middle Class  160.661963  71.847865   20  32484.856132
489  Female    Middle Class  125.651185  65.395740   37  45868.684337
491  Female    Middle Class  151.120373  71.422033   46  21522.452888

[77 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height     Weight  Age        Income
20   Female            Poor  106.052766  69.363904   31  29919.524685
25   Female            Poor  195.832664  65.624269   46  43785.201138
35   Female            Poor  192.162038  79.501940   35  20008.913247
36   Female            Poor  198.411011  78.806531   41  41066.007627
44   Female            Poor  100.694027  65.043951   61  27080.956366
48   Female            Poor  105.443717  77.528741   30  40793.871501
53   Female            Poor  214.113610  89.229953   38  42044.771404
66   Female            Poor  206.010309  88.947601   28  35325.991699
75   Female            Poor  187.744566  79.380997   35  47421.371963
76   Female            Poor  196.126549  67.226016   28  35366.939461
88   Female            Poor  138.792002  84.123958   27  22980.582405
89   Female            Poor  131.751816  89.914727   35  33912.013908
94   Female            Poor  153.064682  70.881631   17  39675.791358
97   Female            Poor  142.664405  69.077790   53  39279.403551
106  Female            Poor  148.326080  73.414358   28  25316.303239
110  Female            Poor  189.354558  78.576716   28  42443.929851
117  Female            Poor  122.067191  71.032785   57  51858.854578
133  Female            Poor  136.565578  65.290291   33  20134.890944
134  Female            Poor   70.851526  66.989806   51  20461.972332
137  Female            Poor  202.977134  76.788962   43  52862.642302
138  Female            Poor  162.518745  80.320851   36  39287.810646
149  Female            Poor  183.489020  84.277017   34  47356.182486
150  Female            Poor  146.957349  86.288441   36  34548.869536
152  Female            Poor  156.952814  76.572701   33  24039.526059
154  Female            Poor  135.277443  72.728133   48  20127.406064
157  Female            Poor  151.256802  84.499443   34  25244.621056
175  Female            Poor  163.706048  65.764014   29  38703.063630
176  Female            Poor  174.780922  68.157919   36  23143.552389
180  Female            Poor  169.329772  87.410936    9  47473.040247
182  Female            Poor  192.999236  86.251665   38  24337.511140
..      ...             ...         ...        ...  ...           ...
271  Female            Poor  184.322090  89.712240   28  36016.105903
272  Female            Poor  174.238943  80.236690   25  34574.714795
285  Female            Poor  155.468232  66.244018   22  34449.673773
288  Female            Poor  147.339636  72.312084   15  19102.298914
326  Female            Poor  180.917304  70.717919   16  29157.994839
329  Female            Poor  192.102496  66.557452   28  30801.882592
350  Female            Poor  109.651676  69.337119   11  48624.961259
352  Female            Poor  155.923755  71.033397   36  33574.556078
354  Female            Poor  201.916483  73.830499   42  23910.950560
360  Female            Poor  129.632582  75.536090    8  33218.111241
362  Female            Poor  164.276304  67.362365   38  26742.209655
376  Female            Poor  126.844722  87.262925   29  24937.529410
391  Female            Poor  152.645935  73.774288   28  23858.409941
394  Female            Poor  204.467299  68.620289   55  33667.226099
404  Female            Poor  147.950503  67.645844   45  39545.865589
408  Female            Poor  139.137829  69.809507   41  52120.048258
413  Female            Poor  113.373780  77.788039   36  34303.167443
418  Female            Poor  136.082565  82.792113   30  23705.840305
425  Female            Poor  151.829280  83.328558   27  34040.456349
426  Female            Poor  113.344029  70.434428   17  41323.676663
436  Female            Poor  237.688975  83.146220   29  25602.808066
451  Female            Poor  145.127704  89.409821   18  36110.826532
453  Female            Poor  155.351274  89.897098   47  33077.730203
460  Female            Poor  120.288446  71.733095   32  21387.614514
462  Female            Poor  132.230317  82.394298   50  45988.224838
467  Female            Poor  187.963428  89.677952   51  30056.532658
471  Female            Poor   85.973729  80.471825   37  23628.293325
476  Female            Poor  150.735323  84.335490   42  25092.114015
479  Female            Poor  166.755151  68.048202   41  47469.537348
486  Female            Poor  152.176175  84.933717   40  32983.175629

[81 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height     Weight  Age        Income
3    Female            Rich  160.435885  84.975256   19  37208.101061
6    Female            Rich  130.620616  85.422355   28  26098.247893
7    Female            Rich  130.510281  85.476015   36  39760.765392
14   Female            Rich  171.398871  80.654855   20  30427.766490
17   Female            Rich  161.117339  65.662135   30  27551.155310
19   Female            Rich  110.551629  70.792352   48  46881.245707
21   Female            Rich  147.056955  72.720474   41  36012.997368
30   Female            Rich  169.814417  66.832693   24  51885.131508
34   Female            Rich  164.539965  76.682506   37  35709.180312
38   Female            Rich  127.930736  79.953300   15  37067.553484
42   Female            Rich  184.473368  66.830632   43  48898.220039
50   Female            Rich  184.957060  76.947258   33  19899.284876
52   Female            Rich  209.706760  82.613295   26  42703.719126
56   Female            Rich  146.553456  74.502506   14  28170.217130
61   Female            Rich  114.849277  66.449512   31  36796.143009
77   Female            Rich   87.137169  84.961859   38  27639.882626
78   Female            Rich  179.999836  66.192429   16  39340.315857
82   Female            Rich  200.371496  79.151244   53  35400.737055
91   Female            Rich  137.425090  78.861610   34  33023.044491
100  Female            Rich  210.084891  81.223480    3  23678.548017
103  Female            Rich  124.430926  83.252757   17  18799.213713
105  Female            Rich  154.906825  80.810316   50  31089.520696
109  Female            Rich  139.640352  88.351611   31  18748.349686
113  Female            Rich  160.802825  85.777461   28  22385.677241
114  Female            Rich  164.053476  82.138334   35  41471.241515
115  Female            Rich  131.892679  88.041187   22  42338.312489
118  Female            Rich  176.449832  87.662248   31  45207.450457
130  Female            Rich  172.694932  73.428663   45  50159.344711
132  Female            Rich  194.022981  77.878054   34  50250.439938
136  Female            Rich  169.593531  66.891559   22  41548.445313
..      ...             ...         ...        ...  ...           ...
344  Female            Rich  138.907681  83.247154   19  37718.308620
345  Female            Rich  170.744095  77.104225   36  30066.394107
359  Female            Rich  137.684895  77.599280   19  20562.753918
374  Female            Rich  174.572820  86.031384   45  47272.097970
380  Female            Rich  131.221116  75.437410   28  32481.864312
382  Female            Rich  183.608897  82.238285   13  51890.650133
396  Female            Rich  180.170011  86.262058   15  25566.796269
400  Female            Rich  157.909770  76.275668   23  37373.919069
406  Female            Rich  188.025294  65.636252   50  41326.544499
407  Female            Rich  220.444384  86.284647   43  26749.959544
409  Female            Rich  144.344344  66.079885   24  37492.274383
421  Female            Rich  208.296920  77.261254   37  20852.065360
428  Female            Rich  173.501066  78.020891   35  37140.302864
435  Female            Rich  146.444952  73.604546   36  35692.422186
440  Female            Rich  138.220185  80.336160   29  31946.889058
448  Female            Rich  186.596843  86.098299   16  47734.058268
454  Female            Rich   75.413523  73.144648   21  32730.712658
455  Female            Rich  190.661358  86.999585   26  51237.768879
456  Female            Rich  153.608310  82.880842   46  28167.192369
457  Female            Rich  132.134102  70.768978   46  28884.291616
461  Female            Rich  179.676359  71.818367   44  30030.015798
466  Female            Rich  153.435792  70.491937   19  42469.441525
468  Female            Rich  145.227898  84.653760   40  52051.453430
472  Female            Rich  167.222235  86.998254   38  47334.694465
473  Female            Rich  142.792375  89.527181   16  49246.475418
482  Female            Rich  157.882922  69.625748   19  22492.628703
483  Female            Rich  152.693257  87.565234   16  50535.782262
487  Female            Rich  171.598797  84.651717   26  32449.308895
495  Female            Rich  117.607990  83.442932   37  48760.769186
496  Female            Rich  171.660651  71.748460   26  32444.608097

[97 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height     Weight  Age        Income
0     Male    Middle Class  134.342173  75.566382   26  32974.133836
2     Male    Middle Class  102.261689  71.768330   32  35357.020927
8     Male    Middle Class  152.242178  84.587867   43  37155.635949
11    Male    Middle Class  194.644059  82.659524   44  44987.431531
15    Male    Middle Class  162.471867  65.527151   38  31434.617250
27    Male    Middle Class  126.345441  87.577109   24  52299.675329
33    Male    Middle Class  237.891828  77.321143   25  28125.557097
45    Male    Middle Class  133.504050  66.289575   32  30403.616263
47    Male    Middle Class   84.968969  80.816794   37  39807.936605
49    Male    Middle Class  152.162406  89.736355    0  52651.696723
58    Male    Middle Class  181.432904  79.090257   41  29110.865510
73    Male    Middle Class  129.766295  73.384684   29  27262.485117
74    Male    Middle Class  104.598800  77.996258   26  23902.190860
81    Male    Middle Class  143.450999  65.404917   36  41497.652325
83    Male    Middle Class  193.561538  69.042979   18  22379.209141
92    Male    Middle Class  173.847313  80.278109    9  38255.078938
96    Male    Middle Class  113.489281  80.907583   14  21670.310422
102   Male    Middle Class  146.192058  73.274914   63  31803.388674
119   Male    Middle Class  193.008910  80.892189   32  21582.081866
120   Male    Middle Class  171.382644  76.483059   22  32893.267228
135   Male    Middle Class  181.863092  88.489972   15  28761.620790
139   Male    Middle Class  207.476335  78.417351   21  18563.823069
142   Male    Middle Class  194.072470  83.401020   28  26593.894101
144   Male    Middle Class  128.836148  84.850952   24  20929.271471
155   Male    Middle Class  140.196737  69.828413   39  21261.398615
159   Male    Middle Class  146.255758  83.642179   41  46819.760334
163   Male    Middle Class  135.978852  72.327754   36  36292.704971
169   Male    Middle Class  128.775782  72.537978   35  36204.574408
170   Male    Middle Class  197.646456  76.767380   32  20572.076765
177   Male    Middle Class  191.935575  72.431401   34  31188.278889
..     ...             ...         ...        ...  ...           ...
328   Male    Middle Class  140.452311  67.227220   39  36832.317207
330   Male    Middle Class  124.543805  82.576772    3  35007.233881
335   Male    Middle Class  178.378982  65.195387   25  31335.455029
336   Male    Middle Class  218.668247  72.687669   21  41289.929248
340   Male    Middle Class  153.387359  71.995385   54  28796.448751
342   Male    Middle Class  131.029451  70.892252   29  43075.818904
351   Male    Middle Class  167.337650  73.550768   18  49117.992457
356   Male    Middle Class  205.003054  71.421543   27  20488.978314
361   Male    Middle Class  181.791597  81.975922    5  50401.825700
363   Male    Middle Class  104.878050  89.022034   34  25888.467207
370   Male    Middle Class  180.020666  88.267183   30  21986.493372
372   Male    Middle Class  144.333559  68.482619   23  46304.424745
375   Male    Middle Class  182.273655  66.720382   57  19021.994941
383   Male    Middle Class  126.012159  72.813938    5  42495.976846
384   Male    Middle Class  176.632674  69.601376   40  35385.675123
385   Male    Middle Class  158.443914  79.289930   37  42315.826346
387   Male    Middle Class  124.571424  80.532048   36  45966.405677
390   Male    Middle Class  152.348030  66.041474   52  27431.881554
392   Male    Middle Class  181.339635  78.774892   43  35306.571788
397   Male    Middle Class  193.008046  70.090746   39  28716.085827
399   Male    Middle Class  196.101653  80.274791   20  40764.122560
412   Male    Middle Class  178.010498  89.181893   38  30509.434109
416   Male    Middle Class  167.265073  86.401869   26  36131.221258
447   Male    Middle Class  196.465203  85.040533   40  39966.154756
449   Male    Middle Class  136.237525  67.266201   20  41181.718742
450   Male    Middle Class  169.050230  79.455649   14  46787.616833
458   Male    Middle Class  161.462139  72.962611   46  39555.446431
463   Male    Middle Class  107.240498  68.116516   29  24505.658620
478   Male    Middle Class  102.698333  85.635120    4  30272.927529
481   Male    Middle Class  125.325908  86.213071   22  48255.124871

[84 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height     Weight  Age        Income
5     Male            Poor  193.095974  66.893052   17  46286.303844
9     Male            Poor  164.337035  65.779211   16  26113.903822
13    Male            Poor  182.653768  66.012479   52  19936.720508
26    Male            Poor  185.454240  70.201681   33  26294.306876
32    Male            Poor  190.977029  75.092992   36  48597.731305
41    Male            Poor  151.468005  76.462030   50  49670.864815
46    Male            Poor  153.140007  81.936616   32  20452.559307
57    Male            Poor  183.026636  79.812906   16  26163.360694
59    Male            Poor  130.336973  82.877142   17  51090.140648
62    Male            Poor  111.032617  68.060782   -2  50914.705624
64    Male            Poor  171.135351  78.792892   42  38157.585552
70    Male            Poor  145.905275  88.335250   30  44651.309262
71    Male            Poor  132.066312  72.735964   -2  30423.488957
84    Male            Poor  147.041297  87.188272   48  39396.796115
95    Male            Poor  144.528413  75.933876   13  43381.059067
99    Male            Poor   79.285579  67.451722   37  21642.594072
101   Male            Poor  156.796846  87.824299   30  50994.423937
108   Male            Poor  149.538006  80.647785   28  35493.134916
124   Male            Poor   98.036531  82.153827   35  44522.214547
128   Male            Poor  165.646650  84.501882   39  44860.887583
151   Male            Poor  183.583728  77.671123   35  26791.247498
167   Male            Poor  247.190565  72.343690   27  23352.534155
171   Male            Poor  149.074468  75.639073   18  31923.475154
179   Male            Poor  104.144282  67.396679   30  25089.495150
184   Male            Poor  205.686868  84.530267   38  28799.527976
186   Male            Poor  153.613892  68.832047   32  44265.148899
190   Male            Poor  114.792035  85.437175   51  18952.209180
192   Male            Poor  140.124066  80.561188   46  22560.687905
196   Male            Poor  146.610892  81.072952   32  18586.098157
217   Male            Poor  204.817478  89.375197   25  32666.646930
..     ...             ...         ...        ...  ...           ...
341   Male            Poor  134.965925  83.135952   19  28551.804501
349   Male            Poor  167.631815  72.901683    1  31449.435319
355   Male            Poor  126.294808  79.280016   29  31317.813757
358   Male            Poor  134.727439  77.047477   33  32375.504574

## Operaciones sobre datos agrupados

In [40]:
double_group.sum()

                              Height       Weight   Age        Income
Gender Economic Status
Female Middle Class     12004.939562  5867.427136  2320  2.709257e+06
       Poor             12760.092054  6262.325182  2657  2.784058e+06
       Rich             15512.240677  7564.204964  2912  3.569335e+06
Male   Middle Class     13560.806570  6531.894806  2497  2.845455e+06
       Poor             12025.448696  5997.172985  2222  2.691158e+06
       Rich             13893.330150  6532.986397  2642  3.069090e+06

In [41]:
double_group.mean()# Promedio

                            Height     Weight        Age        Income
Gender Economic Status
Female Middle Class     155.908306  76.200352  30.129870  35185.155287
       Poor             157.532001  77.312657  32.802469  34371.088180
       Rich             159.920007  77.981494  30.020619  36797.265548
Male   Middle Class     161.438173  77.760652  29.726190  33874.462741
       Poor             156.174658  77.885363  28.857143  34950.103673
       Rich             165.396787  77.773648  31.452381  36536.783842

In [42]:
double_group.size()# Cuantos elementos tiene esa categoria

Gender  Economic Status
Female  Middle Class       77
        Poor               81
        Rich               97
Male    Middle Class       84
        Poor               77
        Rich               84
dtype: int64

In [43]:
double_group.describe()

                         Age                                                 \
                       count       mean        std  min    25%   50%    75%
Gender Economic Status
Female Middle Class     77.0  30.129870  11.168978  7.0  23.00  30.0  40.00
       Poor             81.0  32.802469  12.063809  5.0  28.00  34.0  40.00
       Rich             97.0  30.020619  11.838302 -1.0  21.00  29.0  39.00
Male   Middle Class     84.0  29.726190  13.280433  0.0  21.00  31.0  38.25
       Poor             77.0  28.857143  12.358371 -2.0  20.00  30.0  36.00
       Rich             84.0  31.452381  11.195314 -3.0  22.75  31.0  39.25

                             Height                ...            Income  \
                         max  count        mean    ...               75%
Gender Economic Status                             ...
Female Middle Class     62.0   77.0  155.908306    ...      42464.086285
       Poor             61.0   81.0  157.532001    ...      41848.679551
       Rich             60.0   97.0  159.920007    ...      46193.434082
Male   Middle Class     63.0   84.0  161.438173    ...      41208.771368
       Poor             59.0   77.0  156.174658    ...      44651.309262
       Rich             61.0   84.0  165.396787    ...      43803.939173

                                     Weight                                  \
                                 max  count       mean       std        min
Gender Economic Status
Female Middle Class     52806.069575   77.0  76.200352  7.639172  65.174222
       Poor             52862.642302   81.0  77.312657  7.918510  65.043951
       Rich             52896.214939   97.0  77.981494  6.997531  65.553577
Male   Middle Class     52651.696723   84.0  77.760652  7.344902  65.195387
       Poor             51090.140648   77.0  77.885363  7.245969  65.117370
       Rich             52938.986988   84.0  77.773648  6.826228  65.036670


                              25%        50%        75%        max
Gender Economic Status
Female Middle Class     69.316612  75.363835  82.219660  89.991191
       Poor             70.434428  77.164048  84.277017  89.914727
       Rich             71.818367  78.235800  83.920564  89.527181
Male   Middle Class     71.938621  78.206804  83.817412  89.743788
       Poor             72.735964  77.671123  83.603901  89.948653
       Rich             72.062683  77.356313  83.339877  89.560433

[6 rows x 32 columns]

### Una agrupacion es en si un DataSets

In [45]:
grouped_income = double_group["Income"]

In [46]:
grouped_income.describe()

                        count          mean           std           min  \
Gender Economic Status
Female Middle Class      77.0  35185.155287  10646.613670  18641.890706
       Poor              81.0  34371.088180   9577.518183  18963.575106
       Rich              97.0  36797.265548  10081.966485  18748.349686
Male   Middle Class      84.0  33874.462741   9513.875992  18288.902605
       Poor              77.0  34950.103673  10333.507725  18586.098157
       Rich              84.0  36536.783842   9708.599941  18758.568527

                                 25%           50%           75%           max
Gender Economic Status
Female Middle Class     24093.136650  37516.753449  42464.086285  52806.069575
       Poor             25532.025419  34303.167443  41848.679551  52862.642302
       Rich             28495.600397  36305.486728  46193.434082  52896.214939
Male   Middle Class     25805.491018  32933.700532  41208.771368  52651.696723
       Poor             25341.905289  32765.253976  44651.309262  51090.140648
       Rich             28158.349970  37694.701096  43803.939173  52938.986988

In [47]:
# np.sum = Suma los valores de Income
# np.mean = obtener el promedio
# np.std = Obitne la desviacion estandar

double_group.aggregate({
    "Income":np.sum,
    "Age" : np.mean,
    "Height": np.std
})

                              Income        Age     Height
Gender Economic Status
Female Middle Class     2.709257e+06  30.129870  28.686563
       Poor             2.784058e+06  32.802469  31.076630
       Rich             3.569335e+06  30.020619  28.936745
Male   Middle Class     2.845455e+06  29.726190  30.833731
       Poor             2.691158e+06  28.857143  29.859722
       Rich             3.069090e+06  31.452381  25.629058

### Aplicar una funcion para agregar a los agrupados

In [49]:
double_group.aggregate({
    "Age" : np.mean,
    "Height": lambda h : np.mean(h)/np.std(h)
})

                              Age    Height
Gender Economic Status
Female Middle Class     30.129870  5.470529
       Poor             32.802469  5.100731
       Rich             30.020619  5.555247
Male   Middle Class     29.726190  5.267211
       Poor             28.857143  5.264576
       Rich             31.452381  6.492247

### Aplicar varias funciones a los agrupados

In [50]:
double_group.aggregate([np.sum,np.mean,np.std])

                              Height                              Weight  \
                                 sum        mean        std          sum
Gender Economic Status
Female Middle Class     12004.939562  155.908306  28.686563  5867.427136
       Poor             12760.092054  157.532001  31.076630  6262.325182
       Rich             15512.240677  159.920007  28.936745  7564.204964
Male   Middle Class     13560.806570  161.438173  30.833731  6531.894806
       Poor             12025.448696  156.174658  29.859722  5997.172985
       Rich             13893.330150  165.396787  25.629058  6532.986397

                                              Age                        \
                             mean       std   sum       mean        std
Gender Economic Status
Female Middle Class     76.200352  7.639172  2320  30.129870  11.168978
       Poor             77.312657  7.918510  2657  32.802469  12.063809
       Rich             77.981494  6.997531  2912  30.020619  11.838302
Male   Middle Class     77.760652  7.344902  2497  29.726190  13.280433
       Poor             77.885363  7.245969  2222  28.857143  12.358371
       Rich             77.773648  6.826228  2642  31.452381  11.195314

                              Income
                                 sum          mean           std
Gender Economic Status
Female Middle Class     2.709257e+06  35185.155287  10646.613670
       Poor             2.784058e+06  34371.088180   9577.518183
       Rich             3.569335e+06  36797.265548  10081.966485
Male   Middle Class     2.845455e+06  33874.462741   9513.875992
       Poor             2.691158e+06  34950.103673  10333.507725
       Rich             3.069090e+06  36536.783842   9708.599941

In [51]:
#Pasar una lambda
double_group.aggregate([lambda x : np.mean(x)/ np.std(x)])

                          Height     Weight       Age    Income
                        <lambda>   <lambda>  <lambda>  <lambda>
Gender Economic Status
Female Middle Class     5.470529  10.040359  2.715329  3.326492
       Poor             5.100731   9.824368  2.736022  3.611086
       Rich             5.555247  11.202037  2.549062  3.668771
Male   Middle Class     5.267211  10.650611  2.251789  3.581917
       Poor             5.264576  10.819270  2.350340  3.404390
       Rich             6.492247  11.461786  2.826297  3.785945