In [1]:
import numpy as np
from sklearn import preprocessing, cross_validation, neighbors
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [3]:
df.shape

(699, 11)

In [4]:
df.describe() # Si falta un valor lo correcto es sustituirlo por un valor muy negativo -10000

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [5]:
df.columns = ["name","V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]
# class 2  tumor benigno 4 tumor maligno

In [6]:
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
df = df.drop(["name"],1)

In [8]:
df.replace("?", -99999, inplace=True)# inplace: Reemplazo directamente en el dataset

In [9]:
Y = df["class"]

In [10]:
X = df[["V1","V2","V3","V4","V5","V6","V7","V8","V9"]]

In [11]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [12]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

## Clasificador de los K vecinos

In [35]:
X_train, X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y,test_size=0.2)

In [36]:
clf = neighbors.KNeighborsClassifier()

In [37]:
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [38]:
accuracy = clf.score(X_test, Y_test)
accuracy

0.9642857142857143

## Clasificaci√≥n sin limpieza

In [23]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.replace("?", -99999, inplace=True)
df.columns = ["name","V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]

Y = df["class"]
X = df[["name","V1","V2","V3","V4","V5","V6","V7","V8","V9"]]

X_train, X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y,test_size=0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.6142857142857143

### Cuidado: Agregar una columna que es dummy "name" solo es un identificador consecutivo se llevo la eficacia del algoritmo de 96% a 60%

## Clasificar nuevos datos

In [24]:
### Volvemos a iniciar el modelo con datos limpios
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt", header=None)
df.replace("?", -99999, inplace=True)
df.columns = ["name","V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]
df = df.drop(["name"],1)
Y = df["class"]
X = df[["V1","V2","V3","V4","V5","V6","V7","V8","V9"]]
X_train, X_test, Y_train, Y_test = cross_validation.train_test_split(X,Y,test_size=0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [25]:
sample_measure = np.array([4,2,1,1,1,2,3,2,1])

In [26]:
sample_measure = sample_measure.reshape(1,-1)

In [28]:
predict = clf.predict(sample_measure)
print("La prediccion es ",predict[0]," La celular es benigna")

La prediccion es  2  La celular es benigna

In [33]:
sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,1,1,2,3,2,1]]).reshape(2,-1)

In [34]:
predict = clf.predict(sample_measure2)
for p in predict:
    if p==2 :
        print("La prediccion es ",p," La celular es benigna")
    if p==4 :
        print("La prediccion es ",p," La celular es maligna , tramita una revision")

La prediccion es  2  La celular es benigna
La prediccion es  2  La celular es benigna

## K Vecinos es facil de implementary tiene alta efeciencia pero tener cuidado con el oversiti